<header>
  <h1>Vault of Secrets</h1>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <form action="/logout" method="POST">
          <button>Log out</button>
        </form>
      </li>
    </ul>
  </nav>
</header>