<!DOCTYPE html>
<html>
  <head>
    <title>Vault of Secrets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("_header") %>
    <form action="/users/email?" method="POST">
      <input type="email" placeholder="Enter your email" name="email">
      <input type="text" placeholder="Enter your name" name="name">
      <input type="password" placeholder="Enter your password" name="password">
      <input type="text" placeholder="Enter your secret" name="secret">
      <button>Create vault entry</button>
    </form>
  </body>
</html>
